.homepageMain{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/625/409/193/fitness-late-backgrounds-desktop-wallpaper-preview.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position:absolute;
    top: 20.5%;
    
}

h1{
    font-size: 50px;

}

.homeTitle{
    position: absolute;
    right: 65%;
    top: 5%;
    padding: 10px;
    -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: lightgrey;
}
.homePitch{
    position: absolute;
    left: 70%;
    top: 5%;
    font-size: 20px;
    padding: 10px;
    -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}
.homeSignUp{
    position: absolute;
    left: 44%;
    top: 78%;
    -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: lightgrey;
}