.input{
    border: solid 1px
}

.loginPage {
  background-image: linear-gradient(red, white);
    top: 107px;
position:absolute;        
flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;
        border-radius: 0;
}
#loginForm{
    top: 80px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;

}
.boxes{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
}
