.routine{
  box-shadow: 0px 15px 10px -15px black;
  border: 1px solid;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 25vw;
}
.routine:hover{
  box-shadow: 0px 15px 10px -15px red;
}

.routines {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  height: 100vh;
  position:absolute;
  margin-top: 125px;
  
}



#currentPage{
    color: green;
}
.pageNum,.pageButton{
    background-color: white;
}
.pageNum:hover,.pageButton:hover{
    text-decoration: underline green;
}

.pageButtonContainer {
  width: 100vw;
}