*{
    cursor: default;
}
.hidden { 
    display:none;
}
.modal{
    display:flex;
    position:absolute;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-content:center;
    color: white;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    width: 100vw;
    height: 100vh;
    text-decoration: none;

}

.routineDetails {
    display:block;
    resize:both;
    z-index: 5;
    opacity: 100%;
    display:flex;

    justify-items:center;
    flex-direction:column;


    border: 1px solid gray;
    width: 50vw;
    height: 50vh;
    background-color: white;
    color: black;
    box-shadow: 8px 8px 8px black;
    overflow-y:scroll;
}

.routineActivity {
    text-decoration:none;
    border: 1px solid black;
    width: 80%;

}

.routineDetailsTitle {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background:  #062f4f;
    color: white;
    font-size: 24px;
    align-items: left;
    padding-left: 5px;
    padding-right: 2px;

}

.routineDetails {
    background-color: #F6F6F6 ;
    font-size: 18px;
    display:flex;
    align-items: center;
    padding: 3px;
}

.routineActivity {
    font-size: 16px;
    text-decoration:none;
    margin-top:4px;
    border:1px solid lightgray
}

.routineActivityDetails.title {
    font-weight: bold;
    font-size: 18px;
    
}

#closeButton {
    z-index:100;
    width: 150px;
    height: 40px;
    min-height:40px;
    border: 2px solid red;
    width:15vw;
    margin-top: 5px;
    

}

#closeButton:hover {
    background-color:red;
    color:white;
}